ul.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    li {
        a {
            // background-color: $color;
            border: 1px solid $white;
            color: $white;
            padding: 10px 20px;
            margin-right: 20px;
            border-radius: 5px;
            min-width: 150px;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            &.active {
                background-color: $color;
                border-color: $color;
            }
        }
    }
}

// Single Button 
a.button {
    background-color: $color;
    border: 1px solid $color;
    color: $white;
    padding: 10px;
    border-radius: 5px;
    min-width: 150px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.load-more a {
    margin-top: 10px;
    border-radius: 0;
    min-width: 170px;
    &:hover{
        text-decoration: none;
        box-shadow: 0px 0px 0px 10px rgba($color, 0.3);
    }
         
}