.product {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: all .3s linear;
    background-color: $white;
    .info {
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: center;
        p {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            color: $black;
            transition: all .3s linear;
        }
        span {
            color: $lightBlack;
        }
    }
    &:hover{
        text-decoration: none;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
        .info {
            p {
                color: $color;
            }
        }
    }
    &.bg-gray {
        background-color: $bgColor;
        &:hover{            
            background-color: darken($bgColor, 3);
            box-shadow: 0 0 gray;
        }
    }
}