@media (max-width:991px) and (min-width: 768px){
    
}

@media(max-width:767px) {
    header .main-header__box .search {
        display: none;
    }
    .banner .slide .overlay h3 {
        font-size: 35px;
        margin-bottom: 30px;
    }
    ul.buttons li a {
        padding: 8px 15px;
        margin-right: 15px;
        min-width: 130px;
        font-size: 16px;
    }

    .newsletter-form, .footer-menu {
        margin-top: 30px;
    }
}

@media(max-width:991px){
    header .menu-toggle {
        display: block;
    }
    .menu-bar {
        display: none;
        &.active {
            display: block;
            border-top: 1px solid rgba($white, 0.6);
            ul {
                flex-direction: column;
                justify-content: flex-start;
                // align-items: flex-start;
                li a{
                    padding: 10px 0;
                }
            }
        }
    }

    .testimonial-box .testimonial-quote {
        margin: 0 0px;
        padding: 30px;

        p {
            font-size: 16px;
        }

        .customer-details{
            h3 {
                font-size: 20px;
            } 
            p {
                font-size: 14px;
            }
        }
    }

    .breadcrumb-bar {
        .section-header h2 {
            font-size: 22px;
        }
    }

    body a.button {
        padding: 8px 10px;
        border-radius: 5px;
        min-width: 120px;
        font-size: 14px;
        font-weight: 600;
    }

    .search-filter {
        flex-wrap: wrap;
        input, select {
            margin-bottom: 10px;
        }
    }

    .product-preview .product-info .title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .product-preview .product-info .price {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .product-preview .product-info .attributes .attribute {
        margin-bottom: 15px;
    }
    .product-preview .product-info .add-cart {
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .product-images {
        margin-bottom: 30px;
    }
}