.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
}

.section {
    background-color: $white;
    &-light {
        background-color: $bgColor;
    }
}
